<h1 mat-dialog-title>Nieuwe uitgave</h1>
<div mat-dialog-content>
    <form #form="ngForm" style="width: 100%;">
        <mat-form-field class="mr-4">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" name="name" required>
        </mat-form-field>
        <mat-form-field class="mr-4">
            <mat-label>Amount</mat-label>
            <input matInput [(ngModel)]="amount" name="amount" required>
        </mat-form-field>
        <mat-form-field class="mr-4">
            <mat-label>Fiscaal</mat-label>
            <input matInput [(ngModel)]="fiscaalAftrekbaar" name="fiscaalAftrekbaar" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]>Annuleren</button>
    <button mat-raised-button [mat-dialog-close]="form.value" color="primary" [disabled]="form.form.status != 'VALID'">Toevoegen</button>
</div>