<div class="dashboard">
    <div class="ui-g overview-boxes">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-1">
                <div class="overview-box-title">
                    <i class="fa fa-inbox"></i>
                    <span>LMS Running</span>
                </div>
                <div class="overview-box-count">150</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-2">
                <div class="overview-box-title">
                    <i class="fa fa-map-pin"></i>
                    <span>Total Gold</span>
                </div>
                <div class="overview-box-count">52.1B</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-3">
                <div class="overview-box-title">
                    <i class="fa fa-folder"></i>
                    <span>Important info</span>
                </div>
                <div class="overview-box-count">450</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="ui-g overview-box overview-box-4">
                <div class="overview-box-title">
                    <i class="fa fa-user"></i>
                    <span>More important info</span>
                </div>
                <div class="overview-box-count">532</div>
            </div>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12 ui-lg-6 global-sales">
            <p-panel>
                <p-header>
                    <i class="fa fa-globe"></i>
                    <span>Daily Profit</span>
                </p-header>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Profit</th>
                            <th>Total Gold</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>21/06/2020</td>
                            <td style="color: green; font-weight: bold;">+250M</td>
                            <td>52.1B</td>
                        </tr>
                        <tr>
                            <td>20/06/2020</td>
                            <td style="color: green; font-weight: bold;">+200M</td>
                            <td>52.1B</td>
                        </tr>
                        <tr>
                            <td>19/06/2020</td>
                            <td style="color: green; font-weight: bold;">+800M</td>
                            <td>52.1B</td>
                        </tr>
                        <tr>
                            <td>18/06/2020</td>
                            <td style="color: green; font-weight: bold;">+700M</td>
                            <td>52.1B</td>
                        </tr>
                    </tbody>
                </table>
            </p-panel>
        </div>
    </div>
</div>